<div id="<%= dom_id component %>">
  <p>
    <strong>Name:</strong>
    <%= component.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= component.description %>
  </p>

  <p>
    <strong>C type:</strong>
    <%= component.c_type %>
  </p>

</div>
